* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 120%;
}

H1 {
    text-align: center;
}



.chicken {
    background-color:#fcdc83;
}

.beef{
    background-color: #e81c3e;
}

.sushi {
    background-color: #02de8d;

}

section { 
    background-color: #d8d8d8;
    
    border-width:3px;
    border-color: #000000;
    border-style: solid;
    
    margin: 10px;
    float: left;

    height:auto;

}

div.beef, div.sushi, div.chicken {
    width: 40%;
    text-align: center;
    padding: 4px;
    float: right;
    margin: 0 0 15px 100%;
    }

p {
    text-align: center;
    padding: 10px;
}
  


@media (min-width: 992px) {
    section {
        width: 32%;
    }    
   
}

@media (max-width: 991px) and (min-width: 768px) {



}

@media (max-width: 767 px) {
    section {
        width: 70%;
    }


}
