* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
}

body > header {
    text-align: center;
    font-weight: 700;
    padding-top: 2rem;
    font-size: 1.6rem;
}

main {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr; /* rows / columns */
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: center;
    padding: 2rem 2rem;
    margin-top: 2rem;
}

section {
    background: #999999;
    border: solid 3px black;
}

section > header {
    padding: 0.5rem;
    font-weight: 700;
    display: block;
    float: right;
    width: 10rem;
    text-align: center;
    border-left: solid 3px black;
    border-bottom: solid 3px black;
}

section > p {
    clear: both;
    padding: 1rem;
}

.chicken {
    background-color:#d59898;
}

.beef{
    background-color: #c14543;
    color: #ffffff;
}

.sushi {
    background-color: #e5d198;
}

@media (max-width: 991px) and (min-width: 768px) {
    main {
        grid-template: 1fr 1fr / 1fr 1fr ; /* rows / columns */
    }
    section:nth-last-of-type(1) {
        grid-column: 1 / span 2;
    }
}

@media (max-width: 767px) {
    main {
        grid-template: 1fr 1fr 1fr / 1fr ; /* rows / columns */
    }
}
